[user]
	email = dan@dmonline.uk
	name = Dan Morris
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
